<section class="new-products py-5"> <!--  style="background: linear-gradient(to right, #293573, #511a73, #1c2b79);" -->
    <div class="container">
      <h2 class="text-center mb-4" style="font-family: Arial, sans-serif; font-weight: bold;">
        Le nostre ultime novità
      </h2>
  
      <div id="popularProductsCarousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
        <!-- Indicatori -->
        <ol class="carousel-indicators">
          <li *ngFor="let group of productGroups; let i = index" [class.active]="i === 0" [attr.data-bs-target]="'#popularProductsCarousel'" [attr.data-bs-slide-to]="i"></li>
        </ol>
  
        <!-- Elementi del Carosello -->
        <div class="carousel-inner">
          <div *ngFor="let group of productGroups; let i = index" class="carousel-item" [class.active]="i === 0">
            <div class="row">
              <div *ngFor="let product of group" class="col-md-3">
                <div class="card" [routerLink]="['/prodotti', product.id]">
                  <img [src]="product.filestorage[0]?.path || 'default-image.jpg'" class="card-img-top" [alt]="product.name">
                  <div class="card-body text-center">
                    <p class="card-text">
                    <!-- {{ getDescription(product.categories[i]?.name) }} -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Controlli -->

        <!-- <a class="carousel-control-prev" href="#popularProductsCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Precedente</span>
        </a>
        <a class="carousel-control-next" href="#popularProductsCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Successivo</span>
        </a> -->
      </div>
    </div>
  </section>
  