.card-img-top{
    height: 212px;
    object-fit: contain;
    padding: 10px;
}

.card{
    cursor: pointer;
}

.carousel-popular {
    position:relative;
}


.carousel-indicators {
    list-style: none; 
}


.carousel-indicators li {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    visibility: hidden;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    visibility: hidden;
}

.card-body{
    padding:0;
}