.navbar-nav .nav-link,
.navbar-brand,
.navbar-nav .nav-link:hover,
.navbar-brand:hover {
  font-size: 20px;
  cursor: pointer;
}

.navbar{
  position: fixed; 
  z-index: 100; 
  width: 100%; 
  /* background: linear-gradient(to right, #293573, #511a73, #1c2b79); */;
  background: linear-gradient(to right, #2d3a5f, #3c4473);
  height: 50px;
}

.navbar:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-brand:hover,
.nav-item .nav-link:hover {
  /* color: #d4af19 !important; */
  color: #0096c8 !important;
}

.nav-item, .navbar-brand{
  font-size: small;
  font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn-outline-custom{
  color:rgb(99, 136, 255);
  border-color: rgb(99, 136, 255);
}

.btn-outline-custom:hover {
  background-color: rgb(99, 136, 255); 
  color: white; 
  /* cursor: none; */
}

.material-icons{
  font-size: 30px;
  cursor: pointer;
}

.material-icons:hover{
  /* color: rgb(99, 136, 255);  */
  color: #0096c8 !important;
}

.custom-blur {
  position: relative;
  color: #d4af19 ;
  /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); */
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent; 
}

.custom-blur:hover {
  text-shadow: none; 
  border-bottom: 2px solid #0096c8 ; 
}


.form-control{
  min-width: 335px; 
  background: linear-gradient(to right, #262d3f, #7587ed);
  color:#0096c8;
}

.form-select{
  color: #0096c8;
  background: linear-gradient(to right, #262d3f, #7587ed);
  border-radius: var(--bs-border-radius);
  scrollbar-width: thin !important;
  transition: width 0.3s ease;  
  width: 150px;
}

.form-select option{
  background-color: #143050 !important;
  color: #0096c8 !important;
}

input::placeholder {
  color:#0096c8; 
  opacity: 1; 
}

.nav-select-placeholder{
  z-index: 1000;
  color: white;
}

/* .expanded-nav-select{
  max-width: 200px !important;
} */
