<div id="carouselExampleIndicators" class="carousel carousel-fade slide" data-bs-ride="carousel">
    <!-- Indicatori -->
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
  
    <!-- Immagini del Carosello -->
    <div class="carousel-inner">
      <!-- Primo Slide -->
      <div class="carousel-item active" data-bs-interval="4000">
        <img class="d-block w-100" src="assets/images/dev.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Benvenuto</h5>
          <p>Esplora il nostro mondo interattivo.</p>
        </div>
      </div>
      <!-- Secondo Slide -->
      <div class="carousel-item" data-bs-interval="4000">
        <img class="d-block w-100" src="assets/images/shop.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Innovazione</h5>
          <p>Scopri le ultime novità e tecnologie.</p>
        </div>
      </div>
      <!-- Terzo Slide -->
      <div class="carousel-item" data-bs-interval="4000">
        <img class="d-block w-100" src="assets/images/wp.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Unisciti a Noi</h5>
          <p>Collabora e cresci con la nostra comunità.</p>
        </div>
      </div>
    </div>
  
    <!-- Controlli -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div>
  