
<section class="background-radial-gradient overflow-hidden" style="position: relative; z-index: 0;">

  <!-- Header -->

  <app-header></app-header>
  
  <div class="background-product-homepage">


      <div class="container px-4 py-5 px-md-5 text-center text-lg-start min-vh-100">

        <div class="row justify-content-center">

          <!-- Spinner -->

          <div *ngIf="isLoading" class="spinner-overlay">
            <app-spinner></app-spinner>
          </div>

          <!-- No products -->

          <div class="no-products-centered" *ngIf="!isLoading && prodotti.length === 0">
            Nessun prodotto da mostrare
          </div>          

          <!-- Products -->
          
          <div class="col-md-3 py-2" *ngFor="let prodotto of prodotti; let i = index">
              <div class="card mb-4" [routerLink]="['/prodotti', prodotto.id]">
                <img [src]="getSafeImageUrl(prodotto.filestorage[0].path)" alt="{{ prodotto.name }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title text-truncate">{{prodotto.name}}</h5>
                  <p class="card-status" *ngIf="prodotto.status === 'active'" style="color:#20cb00">Disponibilità immediata</p>
                  <p class="card-status" *ngIf="prodotto.status === 'inactive'" style="color:red">Esaurito</p>
                  <p class="card-price">Prezzo: {{prodotto.price}} €</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <div *ngIf="prodotto.status === 'active'" class="button-class">
                    <button type="button" class="btn btn-warning mt-auto" (click)="addToCart(prodotto.id); $event.stopPropagation()">Aggiungi al carrello</button>
                  </div>
                  <div *ngIf="prodotto.status === 'inactive'" class="button-class">
                    <button type="button" class="btn btn-warning mt-auto" [hidden]="true" (click)="addToCart(prodotto.id); $event.stopPropagation()">Aggiungi al carrello</button>
                  </div>
                  <div class="button-class">
                    <i type="button" class="bi" [ngClass]="{'bi-heart-fill': isProductInWishlist(prodotto.id),'bi-heart': !isProductInWishlist(prodotto.id)}" (click)="toggleWishlist(prodotto.id); $event.stopPropagation()"></i>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <!-- Pagination -->

        <div *ngIf="prodotti.length > 0" class="pagination">
          <mat-paginator  [length]="totalProducts"
                          [pageSize]="pageSize"
                          [pageSizeOptions]="pageSizeOptions"
                          (page)="changePage($event)">
          </mat-paginator>
        </div>
      </div>
  </div>

</section>





