
.background-radial-gradient {
  z-index: -1;
  /* background-size: cover;
  background-position: center;
  min-height: 100vh; */
  /* background-image: url('/assets/images/tech.jpg');     */
}

.background-product-homepage{
  /* background-image: url('/assets/images/tech.jpg');    */
  background: linear-gradient(to right, #262d3f, #7587ed);
  min-height: fit-content;
}
  
  
.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    align-items: center;
}

.card-body px-4 py-5 px-md-5{
      width: 300px;
}

.catalogo:hover {
  color: #d4af19;
}

.button {
  width: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 100%;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to right, #262d3f, #3c4473);
  /* background: linear-gradient(to right, #450070, #2c3c90); */
}

.card:hover {
  /* transform: translateY(-10px); */
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  padding: 0;
  box-shadow: none;
}

.card-title{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Amazon Ember",Arial,sans-serif;
  color: white;
}

.card-title:hover{
  color: #0096c8;
}

.card-price{
  font-size: 16px;
  font-weight: 400;
  color: #17b6d8;
}

.card-footer{
  border-top: none;
  /* background-color: white; */
}


.btn{
  cursor: pointer;
}

.btn-heart{
  cursor: pointer;
  background-color: tomato;
}

.btn:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.message{
  color: white; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: larger;
}

.bi-heart {
  color: white; 
  border-color: #0096c8;
}

.bi-heart:hover {
  color: red; 
}


.bi-heart-fill{
  color: red;
}


.pagination{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.mat-mdc-paginator{
  border-radius: 15px;
  background: linear-gradient(to right, #2d3a5f, #3c4473);
  /* background: linear-gradient(to right, #450070, #2c3c90); */
  /* background-color: #8100a6; */
  /* color: white; */
}

:host ::ng-deep {
  .mat-mdc-paginator-range-label,
  .mat-mdc-paginator-page-size-label,
  .mat-mdc-select-min-line,
  .mat-mdc-select-arrow,
  .mat-mdc-paginator-icon {
    color: white !important;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Assicurati che sia sopra gli altri elementi */
}

.no-products-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 2rem;
  font-family: ui-sans-serif;
  text-align: center;
}
}


